@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #C00F0C;
    --black: #1E1E1E;
    --white: #FFFFFF;
    --bg-dark: #1E1E1E;
    --bg-light: #FFFFFF;
    --text-dark: #FFFFFF;
    --text-light: #1E1E1E;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5rem;
}


body {
    background-color: var(--bg-dark);
    color: var(--text-dark);
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: var(--bg-light);
    color: var(--text-light);
}

.slideshow{
    margin-top: 140px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color:#393939; /* Cor de fundo atrás das imagens */
    padding: 45px; /* Espaço entre a borda e as imagens */
    border-radius: 8px;
}

.mySlides-fade{
    border: 3px 3px 6px white;
}
  /* Hide the images by default */
.mySlides{
    display: none;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #ffae00;
}
  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .hbutton {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 12px;
    font-size: 14px;
    background-color: #c00f0c;
    width: 90px;
}
.hbutton:hover {
    background-color: white; 
    color:black;
}
.htextinput {
    background-color: #c00f0c; 
    color: white;
    border: none; 
    border-radius: 20px;
    outline: none; 
    font-size: 14px;
    padding:5px;
    width: 300px;
    padding-left: 50px; 
    height: 30px;
}
.htextinput::placeholder {
    color: white; 
    opacity: 1;
    font-size: 14px;
}
.hpes {
    position: relative; 
    width: 100%; 
    max-width: 400px;
}
.hpesicon {
    font-size: 18px; 
    color: white;
    background: none;
    border: none;
}
.hpesicon1 {
    position: absolute;
    left: 320px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; 
    color: white; 
    pointer-events: none;
}
.hpesicon2 {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white; 
    pointer-events: none;
}
.cantinho{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}