html{
    height: 100%;
}
body{
    background-color: #1e1e1e;
    height: 100%;
}
main{
    display: flex;
    flex:wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 0;
}
h2, p{
    color: white;
    text-align: justify;
}
p{
    font-size: 23px;
    display: inline;
}
h2{
    font-size: 80px;
    color:#ff6800;
    margin: 0%;
}
.quadradin{
    background-color: #393939;
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
#volt{
    align-self: flex-start;
}
.imagine{
    background-color: #6f6f6f;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.descricipcition{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0px 30px 0px 50px;
    justify-content: space-between;
}
.info, .buy{
    display: flex;
    flex-direction: column;
}
p > button{
    width: 90px;
    font-size: 23px;
    margin:0px 0px 15px 6px;
    color:#ff6800;
    background-color: #fff;
}
.descricipcition > button:hover{
    background-color: rgb(0, 0, 0); 
    color:rgb(255, 255, 255);
}
.preco{
    margin: 0;
}
 .quadradin img{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.inputs{
    width: 90%;
    height: 20px;
    padding: 0;
}
button{
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 12px;
    font-size: 14px;
}
button:hover{
    background-color: white; 
    color:black;
}
.radios{
    padding-top:10px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    color:white;
}
.custom-radio {
    display: none;
}
.custom-radio + label {
    display: inline-block;
    width: 20px;
    height: 20px; 
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.custom-radio:checked + label {
    border-color: red;
}
.radio-text{
    padding-right: 20px;
    padding-left: 5px;
}
a{
    color:rgb(0, 255, 136); 
    text-decoration-line: underline;
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: rgb(0, 255, 136);
}
input:checked + .slider:before {
    transform: translateX(20px);
}
button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 12px;
    font-size: 14px;
    background-color: #c00f0c;
}
button:hover {
    background-color: white; 
    color:black;
}
.hbutton {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 12px;
    font-size: 14px;
    background-color: #c00f0c;
    width: 90px;
}
.hbutton:hover {
    background-color: white; 
    color:black;
}
.htextinput {
    background-color: #c00f0c; 
    color: white;
    border: none; 
    border-radius: 20px;
    outline: none; 
    font-size: 14px;
    padding:5px;
    width: 300px;
    padding-left: 50px; 
    height: 30px;
}
.htextinput::placeholder {
    color: white; 
    opacity: 1;
    font-size: 14px;
}
.hpes {
    position: relative; 
    width: 100%; 
    max-width: 400px;
}
.hpesicon {
    font-size: 18px; 
    color: white;
    background: none;
    border: none;
}
.hpesicon1 {
    position: absolute;
    left: 320px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; 
    color: white; 
    pointer-events: none;
}
.hpesicon2 {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white; 
    pointer-events: none;
}
.cantinho{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}