p{color:white;font-size: 14px;}
.image-button {background-color: #ff7300; border: none; padding: 10px; cursor: pointer; border-radius: 5px;}
.image-button:hover{background-color: #ffb77d;}
.image-button img {height: 100px; width: 100px; vertical-align: middle;}
.quadradin{background-color: #393939;padding: 10px;width: 90%;display: flex;flex:wrap;justify-content: space-between;flex-wrap: wrap;gap: 10px;align-items: center;}
.quac{width: 100%;display: flex;flex:wrap;flex-wrap: wrap;gap: 30px;padding-left: 10px;padding-right: 10px;align-items: center;}
main{display: flex;flex:wrap;justify-content: center;align-items: center;}
.tipo{padding-left: 5%;}
a{padding-left: 5px;text-decoration-line: underline;text-underline-offset: 5px;color: white;}
a:active {color: #ff7300;text-decoration-color: #ff7300;}
.hbutton {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 12px;
    font-size: 14px;
    background-color: #c00f0c;
    width: 90px;
}
.hbutton:hover {
    background-color: white; 
    color:black;
}
.htextinput {
    background-color: #c00f0c; 
    color: white;
    border: none; 
    border-radius: 20px;
    outline: none; 
    font-size: 14px;
    padding:5px;
    width: 300px;
    padding-left: 50px; 
    height: 30px;
}
.htextinput::placeholder {
    color: white; 
    opacity: 1;
    font-size: 14px;
}
.hpes {
    position: relative; 
    width: 100%; 
    max-width: 400px;
}
.hpesicon {
    font-size: 18px; 
    color: white;
    background: none;
    border: none;
}
.hpesicon1 {
    position: absolute;
    left: 320px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; 
    color: white; 
    pointer-events: none;
}
.hpesicon2 {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white; 
    pointer-events: none;
}
.cantinho{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body {
    background-color: #1e1e1e;
}